* {
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
}

ul {
    max-width: 800px;
    margin: 20px auto;
    list-style: none;
}

.cabecera {
    padding: 18px;
    background-color: rgb(22, 102, 102);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.elementoLista{
    padding: 18px;
    background-color: rgb(168, 194, 194);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid black 1px;
}

button{
    width: 80px;
    height: 20px;
    margin: 10px 0 0 auto;
}

.newTaskContainer{
    margin: 20px auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
}

input {
    padding: 8px;
}

.buttonContainers {
    margin: 0 0 0 auto;
}